@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}


.user{
    height:170px;
    width:170px;
    border-radius:50%;
    object-fit:cover;
}
.align-right{
    text-align:right;
}
.logo
{
    color:black;
    font-size:20px;
    text-decoration:none;
    font-weight:bold;
}

.nav ul{
    display:flex;
    list-style-type:none;

}
.nav-links{
    margin:0 14px;
    color:rgb(50,50,50);
    text-decoration:none;
    padding: 8px 16px;
    border-radius:6px;
    font-weight:bold;
}
.nav-links:hover{
    background-color:lightgray;
    font-weight:bolder;
}
.email-btn{
    background-color:black;
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:8px;

}
.email-btn:hover{
    background-color:black;
}

@media(min-width: 720px){
    .title{
        font-size:42px;
    }
    .nav{
        width:720px;
        margin:10px auto;
        display: flex;
        justify-content:space-between;
        align-items:center;
        font-size:18px;
    }
    .header-container{
        display:flex;
        align-items:center;
        width:720px;
        margin : 50px auto;
    }
    .w-50{
        width:360px;
    }
    .project-container{
        width:720px;
        margin: 50px auto;
    }
    .card{
        width:400px;
        border-radius:18px;
        box-shadow:0 0 8px #e3e3e3;
        padding:12px;
        margin:20px;

    }
    .project-flex .card:first-child{
        margin-left:0;
    }
    .project-flex .card:last-child{
        margin-right:0;
    }
    .card-img{
        width:100%;
        border-radius:18px;
    }
    .project-flex{
        display:flex;
    }
    .email-container{
        width:720px;
        margin:50px auto;
        box-shadow:0 0 8px #e3e3e3;
        border-radius:18px;

    }
}
@media (max-width:720px)
{
    .title{
        font-size:36px;
    }
    .nav{
        margin:10px ;
        display: flex;
        justify-content:space-between;
        align-items:center;
        font-size:18px;
    }
    .header-container{
        display:flex;
        flex-wrap:wrap-reverse;
        justify-content:center;
        width:90%;
        align-items:center;
        margin : 50px 26px;
        text-align:center

    }
    .w-50{
        text-align:center
    }
    .nav-links{
        display:none
    }
    .project-container{
        width:auto;
        margin: 50px auto;
    }
    .card{
        border-radius:18px;
        box-shadow:0 0 8px #e3e3e3;
        padding:12px;
        margin:20px;
    }
    .card-img{
        width:100%;
        border-radius:18px;
    }

    .email-container{
        margin:20px;
        box-shadow:0 0 8px #e3e3e3;
        border-radius:18px;

    }
}

